body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-color: lightgrey;
    padding-bottom: 5.5%;
  }

  /*header*/
  .header {
    margin: 0%;
    background: #202020;
    padding: 0;
  }
  
  .header img{
    width: 100%;
    height: auto;

  }

  /*Navbar y estilo*/
  .navbar {
    font-family: fantasy;
    margin-top: 0px;
    position: sticky;
    top: 0;
    display: relative;
    text-align: center;
    font-size: 40px; 
    background-color: #202020;
  }
  
  .navbar ul {
    display: inline;
    margin: 0;
    padding: 0;
    
    list-style-type: none;
  }

  .navbar li{
    display: inline;
    vertical-align: middle;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .navbar a{
    color: white;
    text-decoration: none;
  }
  .navbar a:hover{
    color: #666d6d;
  }
  /*Pagina actual*/
  #actual{
    color: red;
  }

  /* Footer */
  .footer {
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-align: center;
    background: #202020;
    color: #666d6d;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .footer h2{
    margin: 0%;
  }
  